/* 
    Created on : 23 nov 2025, 12:23:44 p.m.
    Author     : Angel
*/
@import url("global.css");

body{
    background-color: var(--bg-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--color-azul-grisiento);
}

.rectangulo-centro {
    margin: auto;
    width: 20%;
    max-width: 400px;
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg-color-card);
    color: white;
    text-align: center;
}

.rectangulo-centro > form > button {
    font-size: larger;
    height: 40%;
    width: 50%;
    max-width: 120px;
    min-width: 80px;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--bg-color-card);
    background-color: var(--color-azul-grisiento);
}

.ordenar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 70%;
    text-align: left;
}

/* Responsivo */
/* Tablets */
@media (max-width: 768px) {
    .rectangulo-centro {
        width: 50%;
        padding: 15px;
    }

    .ordenar {
        width: 90%;
    }

    .rectangulo-centro > form > button {
        width: 50%;
        font-size: 1rem;
    }
}

/* Celulares */
@media (max-width: 480px) {
    body {
        height: auto; /* Evitar scroll innecesario */
        padding: 20px;
    }

    .rectangulo-centro {
        width: 100%;
        padding: 10px;
    }

    .ordenar {
        width: 100%;
    }

    .rectangulo-centro > form > button {
        width: 70%;
        font-size: 0.9rem;
    }
}
