@import url("global.css");

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font);
    color: white;
}

header {
    background-color: var(--bg-color-nav);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--bg-color-card);
}

.logo {
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.cuenta {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.contenedor {
    width: 85%;
    max-width: 1000px;
    margin: 30px auto;
}

.card {
    background-color: var(--bg-color-card);
    padding: 25px;
    border-radius: 15px;
    border: 4px solid var(--bg-color-card);
    display: flex;
    gap: 25px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid var(--color-azul-grisiento);
}

.card h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: bold;
}

.card p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.card strong {
    background-color: var(--color-azul-grisiento);
    color: black;
    padding: 6px 12px;
    border-radius: 8px;
}

.comentario {
    background-color: var(--bg-color-card);
    padding: 18px;
    margin-top: 25px;
    border-radius: 12px;
    border: 3px solid var(--color-azul-grisiento);
}

.usuario {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: var(--color-azul-grisiento);
}

.texto-coment {
    margin-left: 40px;
    margin-top: 6px;
    line-height: 1.4;
}

.input-opinion {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-opinion:focus {
    box-shadow: 0 0 10px var(--color-azul-grisiento);
}

.btn-publicar {
    margin-top: 12px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-azul-grisiento);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-publicar:hover {
    transform: scale(1.07);
    background-color: var(--bg-color-nav);
}

