
/* 
    Created on : 19 nov 2025, 19:03:39
    Author     : janot
*/
@import url("global.css");

body{
    background-color: var(--bg-color);
    margin: 0px;
}



/*SECCION GESTIONAR CUENTAS*/
#seccion-usuarios{
    width: 98%;
    background-color: var(--bg-color-card);
    margin: auto;
}

#seccion-usuarios > h2{
    text-align: center;
    font-size: 40px;
    color: white;
}

table{
    margin: auto;
}


th{
    color: white;
    font-size: 20px;
}

td{
    text-align: center;
    width: 200px;
    color: #E0FBFC;
}

td > i{
    color: white;
}

td > i:hover{
    color: #E0FBFC;
    transform: scale(1.2);
    cursor: pointer;
}



