
/* 
    Created on : 11 nov 2025, 01:41:39
    Author     : janot
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root{
    --font: "Oswald", sans-serif;
    --bg-color: #5C6B73;
    --bg-color-nav: #9DB4C0;
    --color-azul-bajito:#E0FBFC;
    --bg-color-card: #253237;
    --color-azul-grisiento: #C2DFE3;
}
