/* 
    Created on : 19 nov 2025, 17:04:47
    Author     : janot
*/
@import url("global.css");

body{
    background-color: var(--bg-color);
    margin: 0px;
}

/* BANNER*/
.edit{
    position: absolute;
    margin-top: 1%;
    margin-left: 77%;
    font-size: 30px;
    color: white;
}

.edit:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#seccion-banner{
    width: 80%;
    margin: auto;
}

#seccion-banner > img{
    width: 100%;
}

/*SECCION PRODUCTOS TRENDING*/
#seccion-trending > h2{
    font-size: 40px;
    text-align: center;
    color: var(--color-azul-bajito);
}

.container-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.card-producto{
    background-color: var(--bg-color-card);
    margin-bottom: 2%;
    width: 30%;
    border: 1px solid var(--bg-color-card);
    border-radius: 10px;
}

.card-producto > img{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.card-producto > i{
    font-size: 30px;
    color: white;
}

.card-producto > i:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.card-producto > p{
    color: white;
    margin: 0px 0px 0px 20%;
}

.card-producto > .nombre-album{
    font-size: 20px;
}

.card-producto > .puntuacion{
    font-size: 15px;
}

.card-producto > .detalles > a{
    font-size: 15px;
    color: var(--color-azul-bajito);
}

.card-producto > .detalles > a:hover{
    color: var(--color-azul-grisiento);
}

.card-producto > .agregar-a-carrito{
    width: 70%;
    margin: 10px auto 20px auto;
    background-color: var(--color-azul-bajito);
    color: var(--bg-color-card);
    border: 1px solid var(--color-azul-bajito);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

.agregar-a-carrito:hover{
    transform: scale(1.1);
    cursor: pointer;
}

