/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 nov 2025, 02:09:07
    Author     : janot
*/
@import url("global.css");

body{
    margin: 0px;
    background-color: var(--bg-color);
    font-family: var(--font);
}


/*ESTILOS AL NAV*/
nav{
    width: 100%;
}

nav > ul{
    background-color: var(--bg-color-nav);
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}

.nav-item{
    margin: auto 20px auto 20px;
    font-size: 30px;        
}

.nav-item > a{
    text-decoration: none;
    color: white;
}

.nav-item > a:hover{
    color: var(--color-azul-grisiento);
}

.nav-item a > img{
    width: 180px;
}

.nav-item a > img:hover{
    transform: scale(1.1);
}

.nav-item-container{
    text-align: center;
}

#iniciarSesion{
    display: block;
    font-size: 20px;
    text-decoration: underline;
}

/* General */
.rectangulo-centro {
    margin: auto;
    /* Tamaño */
    width: 50%;
    
    border-radius: 10px;
    background-color: var(--bg-color-card);
    color: white;
}

.rectangulo-centro > form > .perfil {
    text-align: left;
    margin-left: 25%;
}

.rectangulo-centro > form > h1 {
    text-align: center;
}

.rectangulo-centro  > form > input {
    text-align: left;
    font-size: medium;
    margin-left: 25%;
    width: 50%;
}

.rectangulo-centro > form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.rectangulo-centro > form > div > input {
    font-size: larger;
    height: 40%;
    width: 30%;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--bg-color-card);
    background-color: var(--color-azul-grisiento);
}

.rectangulo-centro > form > div > .cerrar-sesion {
    font-size: larger;
    width: 30%;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    background-color: red;
}

form > div > a{
    text-align: center;
}

.mensaje{
    color: red;
    font-size: 14px;
    font-weight:normal;
}