@import url("../css/global.css");

.seccion-catalogo {
    color: white;
    width: 60%;
    margin: 0 auto;
    height: auto;
    background-color: var(--bg-color-card);
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.seccion-catalogo > h1 {
    text-align: center;
}

.seccion-catalogo > .producto-catalogo > .info-producto > .nombre-album {
    font-size: 150%;
}

.seccion-catalogo > .producto-catalogo > img {
    width: 20%;
    height: auto;
}

.seccion-catalogo > .producto-catalogo {
    border: 1px solid lightgray;
    border-radius: 15px;

    display: flex;   
    align-items: center; 
    gap: 20px;            
    margin-bottom: 20px;
}

.info-producto p {
    margin: 5px 0;
}
