@import url("../css/global.css");

body{
    margin: 0px;
    background-color: var(--bg-color);
    font-family: var(--font);
}


/*ESTILOS AL NAV*/
nav{
    width: 100%;
}

nav > ul{
    background-color: var(--bg-color-nav);
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;  
    padding: 0px;
}

.nav-item{
    margin: auto 20px auto 20px;
    font-size: 30px;        
}

.nav-item > a{
    text-decoration: none;
    color: white;
}

.nav-item > a:hover{
    color: var(--color-azul-grisiento);
}

.nav-item a > img{
    width: 180px;
}

.nav-item a > img:hover{
    transform: scale(1.1);
}

.nav-item-container{
    text-align: center;
}

#iniciarSesion{
    display: block;
    font-size: 20px;
    text-decoration: underline;
}

/*SECCION BANNER*/
#seccion-banner{
    width: 80%;
    margin: auto;
}

#seccion-banner > img{
    width: 100%;
}

/*SECCION PRODUCTOS TRENDING*/
#seccion-trending > h2{
    font-size: 40px;
    text-align: center;
    color: var(--color-azul-bajito);
}

.container-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.card-producto{
    background-color: var(--bg-color-card);
    margin-bottom: 2%;
    width: 30%;
    border: 1px solid var(--bg-color-card);
    border-radius: 10px;
}


.card-producto > img{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.card-producto > p{
    color: white;
    margin: 0px 0px 0px 20%;
}

.card-producto > .nombre-album{
    font-size: 20px;
}

.card-producto > .puntuacion{
    font-size: 15px;
}

.card-producto > .detalles > a{
    font-size: 15px;
    color: var(--color-azul-bajito);
}

.card-producto > .detalles > a:hover{
    color: var(--color-azul-grisiento);
}

.card-producto > .agregar-a-carrito{
    width: 70%;
    margin: 10px auto 20px auto;
    background-color: var(--color-azul-bajito);
    color: var(--bg-color-card);
    border: 1px solid var(--color-azul-bajito);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

.agregar-a-carrito:hover{
    transform: scale(1.1);
    cursor: pointer;
}


@media only screen and (max-width: 750px){
    .container-productos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: center;
    }

    .card-producto{
        background-color: var(--bg-color-card);
        margin: auto auto 2% auto;
        width: 70%;
        border: 1px solid var(--bg-color-card);
        border-radius: 10px;
    }
}